<%- include('partials/header') -%>

<head>
  <link rel="stylesheet" href="/css/style.css" />

    <!-- Bootstrap CSS file -->
    <!-- <link rel="stylesheet" href="/css/bootstrap.min.css"> -->
</head>

<div class="container">
  <div class="row mt-5">
      <div class="col-6">
          <div>
            <h2>Welcome <%= user.userName %>,</h2>
          </div>
          <br>
          <div class="mb-5">
            <div class="p-4" style="background-color: #f8f9fa;">
              <p class="font-italic mb-1">Hello from the Skintimate team!</p>
              <br>
              <p class="font-italic mb-1">Feel free to explore. Visit the homepage and browse the resources, interact with other users in the feed or upload your products/questions.</p>
              <ul>
                <li>Home Page</li>
                <li>Dashboard</li>
                <li>Feed</li>
                <li>Account</li>
                <li>Wishlist</li>
              </ul>
            </div>
          </div>
          <div class="mt-5">
            <h2 class="lead fw-normal mb-1">Add a product</h2>
            <br>
            <form action="/product/createProduct" enctype="multipart/form-data" method="POST">
              <div class="mb-3">
                  <label for="name" class="form-label">Product Name</label>
                  <input type="text" class="form-control" id="name" name="name">
              </div>
              <div class="mb-3">
                <label for="type" class="form-label">Product Type</label>
                <select class="form-select" id="type" name="type">
                  <option selected disabled value="">Select skincare category</option>
                  <option value="cleanser">Cleanser</option>
                  <option value="moisturizer">Moisturizer</option>
                  <option value="toner">Toner</option>
                  <option value="serum">Serum</option>
                  <option value="oil">Oil</option>
                  <option value="exfoliator">Exfoliator</option>
                  <option value="sunscreen">Sunscreen</option>
                  <option value="eyecream">Eye Cream</option>
                  <option value="other">Other</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="expDate" class="form-label">Expiration Date</label>
                <input type="date" class="form-control date-picker" id="expDate" name="expDate" min="1899-01-01">
              </div>
              <div class="mb-3">
                <label for="imgUpload" class="form-label">Image</label>
                <input type="file" class="form-control" id="imageUpload" name="file">
              </div>
              <div class="mb-3">
                <label for="note" class="form-label">Notes</label>
                <textarea class="form-control" id="note" name="note"></textarea>
              </div>
              <button type="submit" class="btn btn-warning" value="Upload">Submit</button>
            </form>
          </div>
      </div>
      <div class="col-6">
        <ul class="row list-unstyled">
        <% for(var i=0; i<products.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <a href="/product/<%= products[i]._id%>">
              <img class="img-fluid" src="<%= products[i].image%>">
            </a>
          </li>
        <% } %>
        </ul>
        <div class="row justify-content-center mt-5">
          <a class="btn btn-warning" href="/feed">Return to Feed</a>
        </div>  
      </div>  
    </div>
  </div>

<br>
<br>

<%- include('partials/footer') -%>